[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Mirror of https://gerrit.linuxfoundation.org/infra/#/admin/projects/releng/global-jjb"
[access "refs/*"]
	owner = group user/AYUSH (ayushishu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AYUSH (ayushishu)
	label-Verified = -1..+1 group user/AYUSH (ayushishu)
	push = group user/AYUSH (ayushishu)
	read = group user/AYUSH (ayushishu)
	rebase = group user/AYUSH (ayushishu)
	removeReviewer = group user/AYUSH (ayushishu)
	submit = group user/AYUSH (ayushishu)
[access "refs/heads/*"]
	create = group user/AYUSH (ayushishu)
	push = +force group user/AYUSH (ayushishu)
	pushMerge = group user/AYUSH (ayushishu)
	read = group user/AYUSH (ayushishu)
[access "refs/tags/*"]
	push = group user/AYUSH (ayushishu)
	push = +force group user/AYUSH (ayushishu)
